.human1{
    background-image: url('resources/pexels-shukhrat-umarov-1585634-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.html{
    background-image: url('resources/html.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.css{
    background-image: url('resources/css.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.bootstrap{
    background-image: url('resources/bootstrap.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.php{
    background-image: url('resources/php-min.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.nodejs{
    background-image: url('resources/nodejs-min.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.js{
    background-image: url('resources/js-min.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.laptop{
    background-image: url('resources/laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.facebook{
    background-image: url('resources/facebook.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 10px;

}

.insta{
    background-image: url('resources/insta.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 10px;

}

.github{
    background-image: url('resources/github.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 10px;

}

.linkdin{
    background-image: url('resources/linkedin.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 10px;
}